body {
    background-color: #111; /* Close-to-black grey background */
    color: #FF00FF; /* Magenta color */
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; /* Hide scroll bars */
}

#splash-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    color: #FF00FF;
}

#press-to-continue {
    font-size: 1.5em;
    cursor: pointer;
}

#main-content {
    display: none;
}

h1 {
    font-size: 3em;
}

nav {
    margin-top: 20px;
}

nav a {
    color: #FF00FF; /* Magenta color */
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.5em;
    transition: color 0.3s;
    text-transform: capitalize; /* Capitalize the first character */
}

nav a:hover {
    color: #C71585; /* Slightly lighter-than-magenta purple color */
}

#typed-text {
    font-size: 1.2em;
    margin-top: 20px;
}

#water-effect {
    position: fixed; /* Change to fixed */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left of the viewport */
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, rgba(199, 21, 133, 0.3) 40%, transparent 80%); /* Radial gradient for the water effect */
    pointer-events: none; /* Ignore mouse events for the water effect */
    animation: ripple 3s ease-in-out infinite; /* Animation for the ripple effect */
}

@keyframes ripple {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 0.3;
    }
}
